/**
* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
* http://cssreset.com
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
textarea, input {
    outline: none;
    border: 0;
}
/**end of reset*/

body {
    font-family: tahoma, tahoma, verdana, arial, sans-serif;
    font-weight: bold;
    font-size: 8.5pt;
    color: #607387;
}
.main {
    width: 790px;
    margin: 0 auto;
    height: 1400px;
}
.navigation_panel {
    width: inherit;
    display: inline-block;
    height: 40px;
    position: relative;
    min-height: 40px;
    background: -webkit-linear-gradient(to top, #5A7CA0, #4D6E92);
    background: -o-linear-gradient(to top, #5A7CA0, #4D6E92);
    background: -moz-linear-gradient(to top, #5A7CA0, #4D6E92);
    background: -ms-linear-gradient(to top, #5A7CA0, #4D6E92);
    background: linear-gradient(to top, #5A7CA0, #4D6E92);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
}
.tools_panel {
    position: absolute;
    width: 140px;
}
.notification {
    margin: 5px;
    position: absolute;
    width: 115px;
    background-color: #F7F7F7;
    text-align: center;
    color: black;
    font-weight: normal;
    line-height: 11pt;
}
.notification a:hover {
    text-decoration: underline;
}
.notification p {
    margin: 7px;
}
.content_area {
    display: inline-block;
    margin-right: 22px;
    float: right;
    width: 625px;
    min-width: 625px;
    height: 1350px;
    border-left: 1px solid #D9E0E7;
    border-right: 1px solid #D9E0E7;
    border-bottom: 1px solid #D9E0E7;
    box-shadow: 0 0 0 1px #F3F3F3;
    -webkit-box-shadow: 0 0 0 1px #F3F3F3;
    -moz-box-shadow: 0 0 0 1px #F3F3F3;
}
p.send_gift > span {
    display:  inline-block;
    width: 100%;
}
span {
    float: left;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -o-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    word-break: keep-all;
}
.title {
    background-color: #E9EDF1;
    height: 30px;
    padding: 0 9px;
}
.time {
    float: right;
    text-align: right;
    color: #AAB7CA;
}
.name {
    text-align: left;
}
.content_column {
    position: absolute;
    width: 210px;
    border-right: #F1F1F1 1px solid;
}
.panel_wall {
    display: inline-block;
    float: right;
    width: 390px;
    margin: 9px;
}
img[alt="avatar"], form {
    margin-left: 9px;
    margin-top: 9px;
    background-color: #F1F1F1;
    display: inline-block;
}
img[alt="avatar"] {
    float: right;
    width: 201px;
}

input[type="button"] {
    display: block;
    position: relative;
    width: 180px;
    height: 28px;
    border: 0 none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: #6383A8;
    color: #FFFFFF;
    font-size: 8pt;
}
input[type="button"]:hover{
    cursor: pointer;
    background-color: #6D8CB0;
}
input[type="button"]:active{
    padding: 9px 0;
}
input[name="message"] {
    margin: 9px 9px 4.5px 9px;
}
input[name="add_friend"] {
    margin: 4.5px 9px 9px 9px;
}
.center {
    display: inline-block;
    text-align: center;
    margin: 0 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
.followers_and_gifts {
    margin: 9px;
    margin-right: 0;
    display: block;
    font-weight: normal;
}
.followers_and_gifts:hover {
    cursor: pointer;
}
.followers_and_gifts tr {
    height: 22px;
}
.followers_and_gifts tr:hover{
    background-color: #E9EDF1;
}
td {
    vertical-align: middle;
}
td.left {
    padding-left: 7px;
    text-align: left;
    width: 140px;
}
td.right {
    padding-right: 7px;
    text-align: right;
    width: 55px;
}
.send_gift {
    text-align: center;
    height: 29px;
    margin: 9px;
    margin-right: 0;
    font-weight: normal;
    border-radius: 2px;    
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background-color: #EBEEF2;
}
.send_gift:hover {
    cursor: pointer;
    background-color: #E1E7ED;
}
.bold, .regular {
    margin-left: 9px;
    padding-left: 7px;
    height: 23px;
}
.bold, .regular {
    cursor: pointer;
}
.bold {
    margin-top: 9px;
    background-color: #DEE5EB;
    font-weight: bold;
}
.regular {
    background-color: #F1F1F1;
    font-weight: normal;
    color: #666666;
}
img[alt="friend"] {
    width: 50px;
    height: 50px;
}
a {
    word-break: normal;
    text-decoration: none;
    color: #2B587A;
    font-weight: normal;
}
a.friend:hover {
    text-decoration: underline;
}
.friends {
    line-height: 9pt;
    margin-left: 8px;
    margin-right: 9px;
    text-align: center;
    padding: 9px;
}
.news {
    font-weight: bold;
    color: #99ADC2;
    margin-right: 9px;
}
a.news:hover {
    text-decoration: underline;
}
.audio {
    display: block;
    margin-top: 7px;
    margin-right: 7px;
    margin-left: 9px;
    margin-bottom: 0;
    padding-bottom: 20px;
    border-bottom: #E7EAED 1px solid;
}
.audio tr {
    display: inline-block;
    height: 27px;
    width: 189px;
    margin-bottom: 8px;
    padding-left: 7px;
    vertical-align: middle;
    color: black;
    font-weight: normal;
}
.audio tr:hover {
    cursor: pointer;
    background-color: #EDF1F5;
}
.audio tr a {
    font-weight: bold;
}
.audio tr a:hover {
    text-decoration: underline;
}
.audio tr:hover .plus {
    display: block;
}
.audio tr:hover div.duration {
    display: none;
} 
.audio td {
    display: inline-block;
    height: 100%;
}
td.duration {
    float: right;
    padding-right: 3px;
    padding-top: 5px;
    color: #777777;
}
img[alt="play"] {
    width: 15px;
    height: 15px;
    transform: translateY(25%);
    -webkit-transform: translateY(25%);
    -o-transform: translateY(25%);
    -moz-transform: translateY(25%);
    -ms-transform: translateY(25%);
}
.plus {
    display: none;
    position: initial;
    text-align: center;
    margin-top: -3px;
    z-index: 2;
    color: #B5C4D3;
    font-weight: bold;
    font-size: 14pt;
}
.plus:hover {
    color: #6080A0;
}
.report {
    margin: 5px 9px;
    padding-left: 7px;
    margin-bottom: 24px;
    height: 23px;
    cursor: pointer;
    font-weight: normal;
}
.report:hover {
    background-color: #DEE5EB;
}
.info {
    display: block;
    padding-bottom: 9px;
    border-bottom: #E8EBEE 1px solid;
}
.full_name, .status {
    display: block;
    margin-left: 9px;
    margin-top: 5px;
}
.status {
    font-weight: normal;
    color: black;
}
.details {
    margin: 9px;
    margin-top: 12px;
    color: #777777;
    font-weight: normal;
}
.details a:hover {
    text-decoration: underline;
}
.details tr {
    display: inline-block;
    margin-bottom: 5px;
}
.details td {
    display: inline-block;
    width: 125px;
}
.wall {
    background-color: #DEE5EB;
    padding-left: 9px;
    height: 25px;
    color: #45688E;
}
.posts {
    color: #777777;
    font-size: 9.5pt;
    font-weight: normal;
    padding-top: 24px;
    padding-left: 98px;
}
.bottom {
    width: 790px;
    margin: 0 auto;
    text-align: center;
    font-weight: normal;
}
.about a {
    margin: 0 4px;
}
.about a:hover {
    cursor: pointer;
    background-color: #E1E7ED;
}
.copy {
    color: black;
    margin-top: 12px;
}
.copy a:hover {
    text-decoration: underline;
}
.nav {
    height: 100%;
    text-align: center;
    vertical-align: central;
}
.nav td:not(#search):not(#logo):active, .nav a:active {
    padding-top: 3px;
}
.nav td:not(#search):not(#logo) a:active {
    transform: translateY(1px);
    -webkit-transform: translateY(1px);
    -o-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -ms-transform: translateY(1px);
}
#music:active img {
    padding-top: 1px;
}
.nav td:not(#search):not(#logo):hover {
    background-color: #436487;
    color: white;
    cursor: pointer;
}
.nav td:not(#search):not(#logo):hover a{
    color: white;
}
.nav a {
    font-weight: bold;
    color: #E8EFF7;
    text-shadow: 0px 1px 0px #4e7097;
}
#logo {
    width: 146px;
}
img[alt='logo']:active{
    padding-top: 1px;
}
#search {
    text-align: left;
    width: 235px;
    position: relative;
    transform: translateY(8px);
    -webkit-transform: translateY(8px);
    -o-transform: translateY(8px);
    -moz-transform: translateY(8px);
    -ms-transform: translateY(8px);
}
#find {
    position: relative;
    z-index: 2;
    left: 20px;
    top: -20px;
    width: 100px;
    font-size: 8pt;
}
#people {
    width: 52px;
}
#groups {
    width: 89px;
}
#games {
    width: 47px;
}
#music {
    width: 89px;
}
img[alt='play_nav'] {
    position: absolute;
    top: 9px;
}
img[alt='play_nav']:active {
    top: 10px;
}
#help {
    width: 64px;
}
#exit {
    width: 54px;
}
::-webkit-input-placeholder {
    color: #7C90A6;
}
:-moz-placeholder {
    color: #7C90A6;
}
::-moz-placeholder {
    color: #7C90A6;
}
:-ms-input-placeholder {  
    color: #7C90A6;
}
ul {
    display: inline-block;
    margin-top: -8px;
    margin-left: 5px;
    margin-right: 3px;
    height: 214px;
    border-bottom: #E7EAED 1px solid;
}
li span {
    padding: 5px;
    margin-bottom: 1px;
    width: 120px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    font-weight: normal;
    color: #2B587A;
}
li span:hover {
    cursor: pointer;
    background-color: #E1E7ED;
}
#my {
    width: 88px;
}
#mod {
    width: 22px;
    color: #808080;
}
#mod:hover {
    color: #67829E;
}
#friends {
    width: 96px;
}
#friends:hover, #messages:hover {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-topright: 0;
}
#messages {
    width: 104px;
}
#friend_cnt, #start_chat {
    width: 14px;
    background-color: #D5DDE5;
    font-weight: bold;
}
#messages:hover + #start_chat {
    opacity: 1;
    background-color: #D5DDE5;
}
#friend_cnt:hover, #start_chat:hover {
    opacity: 1;
    background-color: #BBC7D3;
}
#start_chat {
    width: 6px;
    opacity: 0;
}
#notif {
    padding-bottom: 5px;
    font-size: 9.5pt;
    font-weight: bold;
    color: #45688E;
    border-bottom: #D9E0E7 1px solid;
}
.no_select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;          
}